<% content_for :page_title, "Races" %>

<div class="container">
  <div class="row">
    <% @races.each do |race| %>
      <div class="col-4">
        <%= link_to race do %>
          <%= official_race_photo_img(race) %>
        <% end %>
        <div><%= race.name %></div>
        <div><%= link_to 'Edit', edit_race_path(race) %></div>
        <div><%= link_to 'Destroy', race, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= button_to 'New Race', new_race_path%>
