<p id="notice"><%= notice %></p>

<h1>Photographers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photographers.each do |photographer| %>
      <tr>
        <td><%= link_to 'Show', photographer %></td>
        <td><%= link_to 'Edit', edit_photographer_path(photographer) %></td>
        <td><%= link_to 'Destroy', photographer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photographer', new_photographer_path %>
