<p id="notice"><%= notice %></p>

<div class="col-12">
  <%= image_tag @photo.image.url, class: "col-3" %>
  <div>Tags</div>
  <% @photo.tags.each do |tag| %>
    <div class="badge badge-primary ml-2 px-3 py-2"><%= tag %></div>
  <% end %>
</div>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
